@model IEnumerable<RoarMot.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImagenPerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImagenMoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolIdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contrasena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlImagenPerfil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlImagenMoto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolIdRolNavigation.IdRol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
